.container{
    position: relative;
    top: 120px;
    width: 500px;
    height: 700px;
    border-color: rgb(40, 78, 93);
border: 3px;
    left: 300px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
border-style: groove;
border-radius: 5px;
display: flex;
left: 35%;


};





.input{
    position: relative;
display: flex;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
font-size: 30px;

    top: 770px;
    width: 450px !important;

}

.title{
    position: relative;
    left: 205px;
    top: 70px;
    width: 250px !important; 
    color: rgb(3,171,235);  
}

.input_field{
    position: relative;
    top: 100px;
    left: 90px;
    width: 300px;
}

.input_field1{
    position: relative;
    top: 150px;
    left: 90px;
}

.input_field2{
    position: relative;
    top: 200px;
    left: 90px;
}

.log_in{
    height: 60px;
    width: 170px;
    border-radius: 5px;
    border: 0px;
    position:relative;
top: 70px;
left: 55%;
background-color: rgb(3,171,235);
color: white;
}


.reg_link{
    position: relative;
    top: -10;
    left: 10px;
}

.reg_link_link{
    position: relative;
    top: 10px;
    left: 35%;
    color:  rgb(3,171,235);
    font-size: 25px;
    z-index: 10000;
}

.reg_link_link :hover{
    color: rgb(3,171,235);
};


.already{
    
    display: none !important;
    
}

.btn_prnt{
    
    margin-top: 200px;
}

.login_href{
    position: relative;
    font-size: 14px;
    left: 50%;
    top: 100px;
}